<h1><%= @article.title %></h1>

<p><%= @article.body %></p>

<%# link zum Editen auf jeweiliger Article Seite: %>
<ul>
  <li><%= link_to "Edit this Article", edit_article_path(@article) %></li>
  <%# link zum loeschen der jeweiligen article seite%>
  <li><%= link_to "Delete this Article", article_path(@article),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></li>
</ul>

<%# fügt comment der Article show page hinzu,
    zeigt commenter und comment-body %>
<h2>Comments</h2>
<%= render @article.comments %>


<%# defines partial template we want to render (comments/form).
    Rails is smart enough to spot the forward slash in that string 
    and realize that you want to render the _form.html.erb file in 
    the app/views/comments directory.%>
<h2>Add a comment:</h2>
<%= render 'comments/form' %>

<%= link_to "Back to Index", root_path %>
